:root {
    --main-color: #5cc1e3;
}
/* SLIDE SHOW */
.slider{
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
}
.slides{
    width: 500%;
    height: 400px;
    display: flex;
}
.slide img {
    border-radius: 10px;
    width: 1200px;
    height: 400px;
}

.slides input{
    display: none;
}
  
.slide {
    transition: 2s;
}
  /* manual navigation  */
.navigation-manual{
    position: absolute;
    width: 1200px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
  
.manual-btn{
    border: 2px solid #e1e5e7;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;  
} 
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn :hover{
    background: black;
}
  
#radio1:checked ~ .first{
   margin-left: 0;
}
#radio2:checked ~ .first{
  margin-left: -20%;
}
#radio3:checked ~ .first{
  margin-left: -40%;
}
#radio4:checked ~ .first{
   margin-left: -60%;
}

   /* automatic navigation */
.navigation-auto{
    position: absolute;
    display: flex;
    width: 1200px;
    justify-content: center;
    margin-top: 360px;

}
.navigation-auto div{
    border: 2px solid var(--main-color);
    padding: 5px;
    border-radius: 10px;    
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~.navigation-auto .auto-btn1{
    background: black;
}
#radio2:checked ~.navigation-auto .auto-btn2{
    background: black;
}
#radio3:checked ~.navigation-auto .auto-btn3{
    background: black;
}
#radio4:checked ~.navigation-auto .auto-btn4{
    background: black;
}
