html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.app {
    background: #f5f5f5f5;
}

.app_cart {
    position: relative;
    padding: 20px 0;
}

.app_cart-title,
.cart-voucher {
    background-color: #fffefb;
    border: 1px solid rgba(224, 168, 0, .4);
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 0.625rem 1rem;
    border-radius: 2px
}


/*  */

.navbar-logo {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.navbar-logo img {
    width: 50px;
    border-radius: 50%;
}

.navbar-remove {
    display: flex;
    align-items: center;
}

.navbar-list li {
    list-style: none;
    margin: 20px 0;
}

.navbar-logo-tt {
    padding-left: 10px;
}

.ti-user,
.ti-bookmark-alt {
    color: #0852c0;
}

.ti-wallet,
.ti-shortcode {
    color: red;
}

.list_order {
    background: #fff;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    box-shadow: 0px 2px #ccc;
}

.list_order-success {
    color: #c03c08;
}

.list_order a {
    text-decoration: none;
    color: #2a2b2c;
    font-weight: 500;
}

table {
    width: 100%;
    background: #fff;
    margin-top: 10px;
    padding: 10px;
    border-collapse: collapse;
    font-size: 15px;
}

th {
    padding: 20px;
}

tr {
    border-bottom: 1px solid #ccc;
}

td {
    text-align: center;
}

.cart-td_title img {
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10px;
    width: 80px;
    height: 80px;
}

.cart-td_title {
    display: flex;
    align-items: center;
}

.cart-operation button {
    height: 40px;
    padding: 2px;
    background: #2a2b2c;
    color: #fff;
    border: none;
}

.cart-wait span {
    color: rgb(19, 209, 98);
}


/* Footer */

.account-footer {
    background-color: #fbfbfb;
}

.account-footer_titel {
    margin-top: 50px;
    font-weight: 700;
    color: rgba(0, 0, 0, .54);
}

.account-footer_list li {
    margin: 20px 10px;
    list-style: none;
}

.account-footer_list a {
    text-decoration: none;
    color: rgba(0, 0, 0, .54);
}

.account-footer-security {
    text-align: center;
    margin-top: 40px;
    color: rgba(0, 0, 0, .54);
}